.header {
  color: var(--color-header-text);
}

/* Promo banner */
.header__promo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px var(--page-padding);
  color: var(--color-white);
  background: var(--color-dark);
}

.header__promo-text {
  font-size: var(--font-size-lg);
}

/* Promo close button */
.header__promo-close {
  padding: 0;
  background: none;
  border: none;
}

.header__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 56px;
  height: 48px;
  padding: 0;
  border: 2px solid var(--color-dark);
  border-radius: var(--radius-lg);
}

.header__btn--profile {
  background: transparent;
}

.header__btn--cart {
  background: var(--color-dark);
}

.header__promo-icon,
.header__btn-icon {
  display: block;
  width: 24px;
  height: 24px;
}

/* Main part */
.header__main {
  background: linear-gradient(
    to right,
    var(--color-primary-500),
    var(--color-primary-600)
  );
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 16px var(--page-padding);
}

.header__logo {
  display: block;
  width: 137px;
  height: 22px;
}

.header__list {
  display: flex;
  gap: 24px;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 64px;
}

.header__phone-block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__phone {
  font-size: var(--font-size-lg);
}

.header__phone-caption {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: 1rem;
}

.header__buttons {
  display: flex;
  gap: 16px;
}
