.section {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 32px var(--page-padding);
}

.section__title {
  margin-bottom: 32px;
  font-size: var(--font-size-3xl);
  line-height: 3rem;
}

.section__list {
  display: flex;
  gap: 32px;
}
